@import '~antd/dist/antd.css';

body {
    background: #f0f2f5;
}

.anticon-menu-fold,
.anticon-menu-unfold {
    font-size: 20px;
    margin-left: 15px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected,
.ant-menu-item-active,
.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger:hover {
    background: #da566a;
}

.ant-layout-sider-zero-width-trigger {
    z-index: 1;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #373744;
}
